# Specifies the Node.js version to use for consistency across the project.
use-node-version=22.8.0

# Prevents pnpm publish unless you're on the specified branch.
publish-branch=main

# Ensures exact versions are used with pnpm add, providing a safer default.
# You can still modify versions manually (e.g., change "1.1.3" to "^1.1.3") for flexibility.
save-prefix=""

# Ensures pnpm only links local dependencies when the "workspace:" protocol is used.
# Otherwise, it downloads the published version, making dependency resolution explicit and predictable.
link-workspace-packages=false

# Sets the workspace protocol to "rolling" for continuously updating dependencies within the workspace.
save-workspace-protocol=rolling